* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
      background: #fafbfb;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.signup-wrapper {
    width: 100%;
    max-width: 420px;
    text-align: center;
    padding: 40px 20px;
}
.logo {
    height: 40px;
    width: 120px;
    margin-bottom: 30px;
}
h1 {
    font-size: 32px;
    margin-bottom: 30px;
}
.btn {
    width: 100%;
    padding: 14px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}
.social {
    border: 1px solid #ccc;
    background: #fff;
    margin-bottom: 15px;
}
.apple span {
    margin-right: 10px;
}
.google span {
    margin-right: 10px;
}
.email {
    background: #4bb3e6;
    color: #fff;
}
.create {
    background: #ff8243;
    color: #fff;
    margin-top: 15px;
}
.divider {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
    color: #999;
}
.divider span {
    flex: 1;
    height: 1px;
    background: #ddd;
}
.email-form input {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    border: 1px solid #cce3f3;
    margin-bottom: 15px;
}
.toggle {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.email-form {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.4s ease;
}
.email-form.show {
    max-height: 600px;
    opacity: 1;
    margin-top: 20px;
}
.login-link {
    display: block;
    margin-top: 20px;
    color: #2d7ff9;
    font-size: 14px;
    text-decoration: underline;
}
.terms {
    font-size: 12px;
    color: #333333;
    margin-top: 20px;
}
.terms a {
    color: #2d7ff9;
    text-decoration: underline;
}
.password-field {
    position: relative;
}
.password-icons {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 10px;
    align-items: center;
}
.toggle,
.info {
    cursor: pointer;
    font-size: 14px;
    color: #777;
}
.password-tooltip {
    position: absolute;
    bottom: 160%;
    right: 0;
    width: 260px;
    background: #3a3f44;
    color: #fff;
    padding: 14px;
    border-radius: 6px;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease;
    z-index: 10;
}
.password-tooltip strong {
    display: block;
    margin-bottom: 8px;
}
.password-tooltip ul {
    padding-left: 16px;
}
.password-tooltip li {
    margin-bottom: 5px;
}
.password-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 14px;
    border-width: 6px;
    border-style: solid;
    border-color: #3a3f44 transparent transparent transparent;
}
.info:hover + .password-tooltip {
    opacity: 1;
    visibility: visible;
}
