* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background: #ffffff;
  padding-top: 120px;
}
/* HEADER */
.header {
  width: 100%;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar {
  max-width: 1200px;
  margin: auto;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  height: 80px;
}
.menu {
  list-style: none;
  display: flex;
  gap: 30px;
}
.nav-item {
  position: relative;
}
.nav-item a {
  color: #586474;
  text-decoration: none;
  font-size: 15px;
  padding: 5px 0;
}
.nav-item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 0%;
  height: 3px;
  background: #2f7cff;
  transition: 0.3s;
}
.nav-item a:hover::after {
  width: 100%;
}
.dropdown-menu {
  position: absolute;
  top: 45px;
  left: 0;
  background: white;
  min-width: 220px;
  list-style: none;
  border-radius: 6px;
  padding: 10px 0;
  display: none;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}
.dropdown-menu li a {
  display: block;
  padding: 10px 20px;
  color: #586474;
  font-size: 14px;
}
.dropdown-menu li a:hover {
  color: #2f7cff;
}
.dropdown.active .dropdown-menu {
  display: block;
}
.auth {
  display: flex;
  gap: 20px;
}
.auth a {
  text-decoration: none;
  font-size: 14px;
}
.auth a:hover {
    color: #2f7cff;
}
.login {
    background:#f2f7fb;
  color: #586474;
}
.signup {
    background: #ff8243;
  color: #586474;
}
/**/
.hamburger {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}
.mobile-menu {
    display: none;
}
@media (max-width: 1158px) {
  .menu,
  .auth {
    display: none;
  }
  .hamburger {
    display: block;
    font-size: 28px;
    color: #586474;
    cursor: pointer;
  }
  .mobile-menu {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
    background: #ffffff;
    padding: 30px 20px;
    display: none;
    flex-direction: column;
    overflow-y: auto;
    z-index: 999;
  }
  .mobile-menu.active {
    display: flex;
  }
  .mobile-menu ul {
    list-style: none;
    padding: 0;
  }
  .mobile-menu li {
    margin-bottom: 22px;
  }
  .mobile-menu a,
  .mobile-menu span {
    color: #333333;
    font-size: 18px;
    text-decoration: none;
    display: block;
  }
  .mobile-dropdown ul {
    display: none;
    margin-top: 10px;
    padding-left: 15px;
  }
  .mobile-dropdown.active ul {
    display: block;
  }
  .mobile-dropdown span {
    cursor: pointer;
    font-weight: 600;
  }
  .mobile-menu .login-btn {
    background: #2fa4dd;
    color: #ffffff;
    padding: 14px;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 14px;
    font-weight: 600;
  }
  .mobile-menu .signup-btn {
    background: #ff8243;
    color: #ffffff;
    padding: 14px;
    border-radius: 6px;
    text-align: center;
    font-weight: 600;
  }
  .mobile-auth {
    margin-top: auto;
  }
}
/*  Sec */
section {
    max-width: 900px;              
    margin: 80px auto;            
    padding: 0 20px;               
    line-height: 1.7;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
section h1,
section h2 {
    color: #333333;
}
section h1 {
    font-size: 42px;
    margin-bottom: 20px;
}
section h2 {
    font-size: 26px;
    margin-top: 50px;
    margin-bottom: 15px;
}
section h4 {
    color: #586474;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}
section h3 {
    color: #586474;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 10px;
}
section p {
    color: #586474;
    font-size: 20px;
    margin-bottom: 20px;
}
section ul {
    padding-left: 22px;
    margin-bottom: 25px;
}
section li {
    color: #586474;
    font-size: 16px;
    margin-bottom: 10px;
}
section a {
    color: #586474;               
    text-decoration: underline;
    transition: color 0.2s ease, text-decoration 0.2s ease;
}
section a:hover {
    color: #6bbcff;               
}
/* footer*/
.footer {
    background: #19202a;
    color: #ffffff;
    padding: 60px 80px 30px;
}
.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    max-width: 1200px;
    margin: auto;
}
.footer h3 {
    margin-bottom: 15px;
    font-size: 18px;
}
.footer ul {
    list-style: none;
    padding: 0;
}
.footer ul li {
    margin-bottom: 10px;
}
.footer ul li a {
    color: #cccccc;
    text-decoration: none;
    font-size: 14px;
}
.footer ul li a:hover {
    color: #1f9ed4;
}
.social-icons {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.social-icons img {
    width: 22px;
    cursor: pointer;
}
.app-section img {
    width: 130px;
    margin-top: 10px;
}
.footer-bottom {
    grid-column: 1 / -1;
    margin-top: 40px;
    padding-top: 20px;
    text-align: center;
    font-size: 14px;
}
.footer-bottom p {
    max-width: 900px;
    margin: 0;
    line-height: 1.6;
}
.footer-bottom a {
    color: #1f9ed4;
    text-decoration: underline;
}
.app-section {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 15px;
}
.qr-box p {
    font-size: 14px;
    margin-top: 6px;
    color: #cccccc;
}
.store-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.store-badge {
    width: 140px;
    cursor: pointer;
}
@media (max-width: 1028px) {
    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .footer ul {
        padding-left: 0;
    }
    .social-icons {
        justify-content: center;
    }
    .app-section {
        justify-content: center;
        align-items: center;
    }
    .store-box {
        align-items: center;
    }
    .qr-box {
        text-align: center;
    }
}